:root {
  --main-bg: #2e3440;
  --tab-bg: #011627;
  --tab-active: #5f7e97;
  --tab-active-text: #ffffff;
  --tab-hover: #082c4c;
  --tab-button-bg: #01162700;
  --tab-button-text: #ffffff;
  --new-tab-button-text: #ffffff;
  --new-tab-button-hover: #ffffff3f;
  --close-tab-button-text: #ffffff;
  --dropdown-text: #ffffff;
  --dropdown-bg: var(--tab-bg);
  --dropdown-border: #7b9fbc7b;
  --dropdown-command: #7b9fbcc7;
  --dropdown__item-hover: #7b9fbc7b;
  --resizer: #2c73dd9c;
  --scroll-thumb-bg: #7ca0a74d;
  --scroll-thumb-hover: #7cc8d7a4;
  font-family: Consolas, Menlo, Courier New, monospace;
  font-size: 14px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  background-color: var(--tab-bg);
}

.hidden {
  display: none;
}

.dropdown {
  font-size: 0.8rem;
  position: fixed;
  padding: 12px 2px;
  z-index: 11;
  background-color: var(--dropdown-bg);
  color: var(--dropdown-text);
  border: solid 1px var(--dropdown-border);
  border-radius: 12px;
  outline: none;
}

.dropdown__item {
  width: 100%;
  display: flex;
  gap: 8px;
  justify-content: space-between;
  align-items: center;
  padding: 4px 12px;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
}
.dropdown__item:hover {
  background-color: var(--dropdown__item-hover);
}
.dropdown__item:active {
  background-color: var(--tab-active);
}

.dropdown__command {
  font-size: 0.7rem;
  color: var(--dropdown-command);
}

.xterm-viewport::-webkit-scrollbar {
  width: 7px;
}

.xterm-viewport::-webkit-scrollbar-thumb {
  background: var(--scroll-thumb-bg);
  width: 12px;
  border-radius: 10px;
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: padding-box;
}
.xterm-viewport::-webkit-scrollbar-thumb:hover {
  background: var(--scroll-thumb-hover);
  border: 0;
}

.title-bar {
  display: flex;
  align-items: center;
  height: 35px;
  padding: 2px 12px;
  -webkit-app-region: drag;
}

.title-bar-logo {
  aspect-ratio: 1;
  width: 22px;
  height: 22px;
  cursor: pointer;
  -webkit-app-region: no-drag;
}

.nav {
  display: flex;
  align-items: end;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 30px;
  background-color: var(--tab-bg);
}

.nav-list {
  max-width: calc(100% - 70px - 38px);
  display: flex;
  overflow-x: scroll;
  list-style: none;
  -webkit-app-region: no-drag;
}
.nav-list::-webkit-scrollbar {
  display: none;
}

.tab-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px 8px;
  background-color: var(--tab-button-bg);
  color: var(--tab-button-text);
  text-overflow: ellipsis;
  text-wrap: nowrap;
  cursor: pointer;
  user-select: none;
}
.tab-button:hover {
  background-color: var(--tab-hover);
}

.new-tab-button {
  width: 24px;
  height: 24px;
  margin: 3px;
  color: var(--new-tab-button-text);
  cursor: pointer;
  font-size: 16px;
  background-color: transparent;
  border-color: transparent;
  border-radius: 100%;
  -webkit-app-region: no-drag;
}
.new-tab-button:hover {
  background-color: var(--new-tab-button-hover);
}

.active-tab {
  color: var(--tab-active-text);
  background-color: var(--tab-active);
  border-radius: 0 12px 0 0;
}
.active-tab:hover {
  color: var(--tab-active-text);
  background-color: var(--tab-active);
}

.close-tab-button {
  width: 24px;
  /* height: 20px; */
  height: 100%;
  margin: 2px 0 2px 12px;
  color: var(--close-tab-button-text);
  cursor: pointer;
  font-size: 16px;
  background-color: transparent;
  border-color: transparent;
  border-radius: 100%;
}
.close-tab-button:hover {
  background-color: #ffffff3f;
}

.shell-select {
  color: white;
  width: 16px;
  height: 16px;
  background-color: var(--tab-bg);
  border: none;
  margin: 4px 4px 8px 4px;
  cursor: pointer;
  line-height: inherit;
  -webkit-app-region: no-drag;
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 8px;
  /* margin-top: 40px; */
  overflow: hidden;
  background-color: var(--main-bg);
}

.tab {
  width: 100%;
  height: 100%;
}

.split-pane {
  width: 100%;
  height: 100%;
}

.split_pane_vertical {
  display: flex;
  flex-flow: column nowrap;
}

.split_pane_horizontal {
  display: flex;
  flex-flow: row nowrap;
}

.split-pane__term-wrapper {
  min-width: 70px;
  overflow: hidden;
}

.term-conatiner-fit {
  width: 100%;
  height: 100%;
}

.split-pane__resizer {
  background-color: var(--resizer);
  z-index: 2;
  background-clip: padding-box;
  flex-shrink: 0;
  flex-grow: 0;
}
.split-pane__resizer-hoizontal {
  cursor: ew-resize;
  width: 1px;
  height: 100%;
  margin: 0 8px;
}
.split-pane__resizer-vertical {
  cursor: ns-resize;
  width: 100%;
  height: 1px;
  margin: 8px 0;
}
